@{
    ViewData["TitoloPagina"] = "Homepage 5B";
}

<div style="text-align: center;">
    <h1>Welcome</h1>
    <!--<a href="/Users">Go to Users</a>-->
    <a asp-controller="Users">Go to Users with TagHelper</a>
</div>