<div class="text-center">
    <h1 class="display-4">Users</h1>
    <div class="card">
        <div class="card-content">
            <div class="table-responsive">
                <table class="table table-striped table-hover mb-0 align-middle">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            @*<th>Cognome</th>
                            <th>Data Nascita</th>
                            <th>Luogo Nascita</th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item</td>
                                @*<td>qui il cognome</td>
                                <td>qui la data</td>
                                <td>qui il luogo</td>*@
                                <td>
                                    <a>
                                        <button type="button" class="btn btn-primary">Details</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>